
<div class="header-nav" id="header-menu"  aria-label="Main Nav">
  <div class="nav-left">
  </div>

  <div class="nav-right">
    <div class="nav-item has-sub toggle-hover" id="res-dropdown">
       <a class="nav-dropdown-link">Resources</a> 
       <ul class="dropdown-menu dropdown-animated" role="menu">
          {% for item in site.data.settings.menu_ext %}
            <li role="menu-item"><a href="{{ item.url }}">{{ item.name }}</a></li>
          {% endfor %}
       </ul>
    </div>
    {% for item in site.data.settings.menu %}
    <div class="nav-item text-center"> 
      <a href="{{ site.github.url }}/{{ item.url }}"> 
        <span> 
          {{ item.name }}
        </span> 
      </a>
     </div>
     {% endfor %}
 </div>
</div>
