/*
  Site container
*/


.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content-container {
  margin-bottom: 4rem;
}

#topnav {
  width: 100vw;
}

/*48em*/

@media (max-width: $container-responsive-width) {
  .container {
    width: 90vw;
  }
}

/*
  Header
*/

#title-header {
  position: fixed;
  background-image: linear-gradient(90deg, rgb(255, 232, 126), rgb(249, 249, 249), 33%, rgb(255, 200, 64));
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  width: env(titlebar-area-width, 100%);
  height: env(titlebar-area-height, 33px);
  -webkit-app-region: drag;
  app-region: drag;
}




/*
  Menu
*/

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: $light-gray-color;
  font-size: 1rem;
  padding-right: 10px;
}

.menu-item-rw, .menu-item-rw a {
  :hover{
    color: rgb(25,25,25);
    background-color: rgb(255,232,126);
  }
}




.social-icons {
  float: right;
}

.footer {
  width: 100vw;
}

.social-icons a {
  color: $light-gray-color;
  font-size: 1rem;
}

@media (max-width: $elements-responsive-width) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 5px;
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: rgb(50,50,50);
    * {
      color: rgb(248,248,248);
    }
    .header-brand {
      * {
        color: rgb(248,248,248); 
        :hover {
          color: rgb(230, 230, 230);
        }
      }
    }

  }
  .menu-content a {
    color: rgb(248,248,248);
  }

}

/*
  Footer
*/

