/*
  Posts
*/

@media (max-width: 480px) {
  .home-desktop {
    display: none;
  }

  .home-mobile {
      .rw-stories{
        inline-size: 100vw;
        block-size: 100vh;

        display: grid;
      }
  }
}

@media (min-width: 1025px) {
  .home-mobile {
    display: none;
  }

  .posts-container {
    margin-bottom: 5rem;
    padding: 0px;
    list-style: none;
  }
  
  /*
    Thumbnail
  */
  
  .thumbnail-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  
  .thumbnail-container img{
    margin-top: -11.5%;
    margin-bottom: -11.5%;
  }
  
  
  #splash-img {
    background-image: url("assets/img/hero-img.png");
    max-width: 100%;
    height: auto;
  }

  .pagination, .pagination-item {
    width: 100vw;
  }
}


